// 输入设备配置。
input {
    keyboard {
        xkb {
            // 可以设置规则、型号、布局、变体与选项。
            // 更多信息见 xkeyboard-config(7)。

            // 例如：
            // layout "us,ru"
            // options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"

            // 如果此段为空，niri 会从 org.freedesktop.locale1 获取 xkb 设置。
            // 可使用 localectl set-x11-keymap 管理这些设置。
        }

        // 启动时开启 NumLock；省略此项则禁用。
        numlock

        // 可设置键盘连发参数，默认值与 wlroots 和 sway 一致。
        // Delay 为开始连发前的毫秒数；Rate 为每秒字符数。
        repeat-delay 300
        repeat-rate 50

        // Niri 可全局（默认）或按窗口记忆键盘布局。
        // - "global" - 所有窗口共享布局切换。
        // - "window" - 每个窗口单独记录布局。
        // track-layout "global"
    }

    // 接下来的部分是 libinput 设置。
    // 省略某项会禁用或保持默认值。
    // 所有被注释的设置仅为示例，非默认值。
    touchpad {
        // tap  // 轻触点击
        dwt // 输入时禁用。
        // dwtp // 使用指点杆时禁用。
        natural-scroll // 反转滚动方向。
        // accel-speed 0.2
        // accel-profile "flat"
        // tap-button-map "left-middle-right"
    }

    mouse {
        // natural-scroll // 反转滚动方向。
        // accel-speed 0.2
        // accel-profile "flat"
    }

    // 取消注释后，鼠标会跳到新聚焦窗口中心。
    // warp-mouse-to-focus

    // 鼠标移入时自动聚焦窗口与输出。
    // 设置 max-scroll-amount="0%" 仅对完全在屏幕内的窗口生效。
    // focus-follows-mouse max-scroll-amount="0%"
}
