// 窗口规则用于调整单个窗口的行为。
// 更多信息见维基：
// https://yalter.github.io/niri/Configuration:-Window-Rules

// 浮动窗口规则：对话框/查看器类应用默认浮动
window-rule {
    match app-id="org.gnome.FileRoller"
    open-floating true
}
window-rule {
    match app-id="imv"
    open-floating true
}
window-rule {
    match app-id="nomacs"
    open-floating true
}
window-rule {
    match app-id="pavucontrol"
    open-floating true
}
window-rule {
    match app-id="nm-connection-editor"
    open-floating true
}
